main{
    color: black;

    .team{
        background-color: $team_bg;
        border-radius: 14px;
        margin: 0 60px;
        margin-top: 61px;

        .navbuttons{
            background-color: none;
            color: none;
            height: 40px;
            width: 40px;
        }

        &__right
        {
            a{    
                &:hover{
                    color: blue;
                }
                &::after{
                    content: '';
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    background-image: url("./../images/Link_Arrow.svg");
                    width: 12px;
                    height: 12px;
                    background-repeat: no-repeat;
                    background-position: right;
                }
            }
        }
    }

    .luckycases
    {
        &__item
        {
            background-color: $team_bg;
        }
    }
}