header{
    &.services{
        background-image: url("./../images/bg2.svg");
        background-repeat: no-repeat;
        background-size:cover;
        .navigation
        {
            margin-bottom: 75px;
        }
        
    }

}