header{
  background-image: url("./../images/bg1.svg");
  background-repeat: no-repeat;
  background-size:cover;
  .psymbol{
    position: absolute;
      content: '';
      background-image: url("./../images/symbol.svg") ;
      width: 595px;
      height: 500px;
      transform: translate(50%,50%);
      z-index: 0;
  }
  a{
    color: white;
    
    }
  .navigation
  {
     
      padding: 30px 0;

      &__secondrow
      {
          a{
              margin: 20px 15px;
          }
      }
  }
  
  .maininfo
  {
      position: relative;
      z-index: 1;
      padding: 240px 0;
      background-image: url("./../images/white.svg"); //  ?!
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      &__img
      {
          position: relative;
          top:200px;
      }
  }

  .select
  {
    margin: 100px 0;
    &__leftpart
    {

        text-align: right;    
        
    a{
        margin: 10px 0;
        font-size: 36px;
        flex-direction: column;
        &:hover
        {
            color: red;
            &::after{
                position: absolute;
                margin-left: 40px;
                color: red;
                content: '';
                background-image: url("./../images/Separatorchosen.svg");
                width: 4px;
                height: 50px;
                transform: scaleY(140%);
            }
        }
        &:hover:first-child
        {
            &::after{
                position: absolute;
                
                width: 4px;
                height: 50px;           
                transform: translateY(20%);
            }
        }
        &:hover:last-child
        {
            &::after{
                position: absolute;
                
                width: 4px;
                height: 100px;
                transform: translateY(-56%);   
            }
        }
    }
    
    }
      
      .separator{
        margin: 0 40px;
    }
  }

  .better{
    a{
        color: grey;
    
    &:hover{
        color: grey;
    }
    &::after{
        content: '';
        display: inline-block;
        position: relative;
        top: 1px;
        background-image: url("./../images/Link_Arrow.svg");
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-position: right;
    }
    }
  }

  padding-bottom: 80px;
  border-radius: 40px;

  box-shadow: 0 30px 0px -20px blue, // &:after?
              0 60px 0px -40px blue;
  
}